.navBackground {
  transition: background-color 400ms linear;
  background-color: transparent !important;
}

.navBackgroundScroll {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: #fff !important;
}

.navItem {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.navItemScroll {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  color: #000 !important;
  font-weight: 700;
  font-size: 16px;
}

.topFixedBanner {
  background-image: url(../images/banner.jpg);
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topBannerOverlay {
  position: absolute;
  min-height: 550px;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
}

.topContent {
  margin-top: 15em;
}

.topTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
}

.topSubTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
}

.sectionTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #051b35;
}

.sectionTitleBottom {
  background: #051b35 none repeat scroll 0 0;
  height: 3px;
  width: 100px;
  margin: -1.9rem auto 0;
  margin-bottom: 3rem;
}

.serviceIcons {
  height: 80px;
  width: 80px;
}

.serviceCard {
  margin: 5px;
  height: 22rem;
  padding: 60px 30px;
  box-shadow: 0 0 8px 0 rgb(4, 55, 105, 0.2);
  text-align: center;
}

.serviceName {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 700;
  color: #051b35;
  font-family: "Raleway", sans-serif;
}

.sectionDescription {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 400;
  color: #505050;
  font-family: "Raleway", sans-serif;
}

.serviceCard:hover {
  box-shadow: 0 0 16px 0 rgb(4, 55, 105, 0.2);
}

.text-justify {
  text-align: justify;
}

.summaryFixedBanner {
  background-image: url(../images/summary.jpg);
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.summaryBannerOverlay {
  position: absolute;
  min-height: 400px;
  width: 100%;
  background: rgb(27, 11, 92, 0.7);
}

.countNumber {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.countTitle {
  color: #ffd900;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.countSection {
  margin-top: 20%;
}

.cardTitle {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.cardSubTitle {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: justify;
}

.workCard {
  margin-top: 25%;
  padding: 10px;
  border-radius: 3px;
}

.iconBullet {
  color: #051b35;
  font-size: 15px;
}

.iconProject {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.iconProject:hover {
  color: #ffd900;
}

.projectCard {
  background: #fff;
  width: 22em;
  border-radius: 0.6em;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 13px 25px -5px;
  transition: all ease 200ms;
}

.projectCard:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 30px -5px;
}

.courseImg {
  width: 100%;
  height: 100%;
}

.float-left {
  float: left;
}

.courseViewMore {
  color: #051b35;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

.videoCard {
  box-shadow: 0 13px 25px -5px;
  padding: 8rem 3rem;
  background-color: #051b35;
  margin: 20px auto;
  border-radius: 5px;
}

.videoText {
  margin-top: 2%;
}

.sliderBack {
  background: #051b35;
  min-height: 400px;
}

.reviewTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #fff;
}

.reviewTitleBottom {
  background: #fff none repeat scroll 0 0;
  height: 3px;
  width: 100px;
  margin: -1.9rem auto 0;
  margin-bottom: 3rem;
}

.circleImg {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid #051b35;
  border-radius: 50%;
}

.clientName {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.clientComment {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.aboutMeBg {
  width: 550px;
  height: 550px;
  background: #051b35;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
}

.aboutMeImg {
  height: 100%;
  margin-top: 210px;
}

.aboutMeBody {
  width: 100%;
  height: 100%;
  padding-left: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.aboutMeDetails {
  color: #051b35;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.aboutMeTitle {
  color: #051b35;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.footerSection {
  margin-top: 5rem;
  box-shadow: 0 0 8px 0;
  background-color: #051b35;
}

.footerName {
  color: #fff;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.socialContainer {
  margin-top: 30px;
}

.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.social:hover {
  transform: translate(-2px);
}

.facebook {
  color: #fff;
}

.youtube {
  color: #fff;
}

.twitter {
  color: #fff;
}

.footerDescription {
  color: #e9e8e8;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.footerLink {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.footerLink:hover {
  color: #ffd900;
}

.copyrightSection {
  padding: 20px;
  background-color: #002c61;
}

.copyrightLink {
  text-decoration: none;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.copyrightLink:hover {
  color: #fff;
}

.topFixedPage {
  background-image: url(../images/page.png);
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topPageOverlay {
  position: absolute;
  min-height: 250px;
  width: 100%;
  background: rgba(19, 1, 102, 0.7);
}

.topContentPage {
  margin-top: 8em;
}

.topPageTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffee00;
  font-size: 40px;
}
